envioVentas2/Connected Services/EnvioVen/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FR.Core.EDM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FR.Core.EDM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TResultOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/FR.Core.EDM" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TResultOfboolean" nillable="true" type="tns:TResultOfboolean" />
</xs:schema>