envioVentas2/Connected Services/EnvioVen/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FR.Core.EDM.DTO" />
  <xs:import schemaLocation="http://localhost/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FR.Core.EDM" />
  <xs:element name="InsertarTipoCambio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FR.Core.EDM.DTO" minOccurs="0" name="tipoCambio" nillable="true" type="q1:TipoCambio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTipoCambioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="InsertarTipoCambioResult" nillable="true" type="q2:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncVentas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncVentasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="SyncVentasResult" nillable="true" type="q3:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncRetiros">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncRetirosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="SyncRetirosResult" nillable="true" type="q4:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSustanciasActivas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterSustanciasActivasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="RegisterSustanciasActivasResult" nillable="true" type="q5:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FR.Core.EDM.DTO" minOccurs="0" name="productos" nillable="true" type="q6:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="RegisterProductosResult" nillable="true" type="q7:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCategorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FR.Core.EDM.DTO" minOccurs="0" name="categorias" nillable="true" type="q8:Categorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="RegisterCategoriasResult" nillable="true" type="q9:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTipoClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTipoClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="RegisterTipoClientesResult" nillable="true" type="q10:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConceptosCancelacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterConceptosCancelacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FR.Core.EDM" minOccurs="0" name="RegisterConceptosCancelacionResult" nillable="true" type="q11:TResultOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>